body {

}

p {
text-align: justify;
}

#showSolution {
 display: block;
}

p[id^="explanation_"] {

}

.show {
    display: block;
}

.hide {
    display: none;
}

.margin10 {
    margin-top: 10px;
}

.margin25 {
    margin-top: 25px;
}

.margin50 {
    margin-top: 50px;
}

.correct {
    outline: 4px solid #00a353;
}

.failed {
    outline: 4px solid #a60000;
}
