body {

}

p {
text-align: justify;
}

#showSolution {
 display: block;
}

p[id^="explanation_"] {

}

.show {
    display: block;
}

.hide {
    display: none;
}

.margin10 {
    margin-top: 10px;
}

.margin25 {
    margin-top: 25px;
}

.margin50 {
    margin-top: 50px;
}

.margin75 {
    margin-top: 75px;
}

.mainLogo {
    width: 300px;
    height: auto;
    float: right;
}

.message_already_answered {
    font-style: italic;
}

.table_headline {
    font-weight: bold;
}

.footer {
    color: #b3b3b3
}
.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 800px; /* or 950px */
}