<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/style.css">
    <link href="images/favicon.ico" rel="shortcut icon">
    <title>VCP Bayern - eLearning</title>
</head>

<body>

<div class="container">
    <h1>VCP Bayern - eLearning</h1>

    {% for question in questions %}
    <h2>{{ question.id }}: {{ question.title }}</h2>
    <p>{{ question.text }}</p>
    <p style="font-style:italic">{{ question.options }} : {{ question.answer }}</p>
    <p>{{ question.explanation}}</p>
    {% endfor %}

</div>

</body>
</html>